rocket-grid-datatable {
  display: block;
  position: relative;

  .grid-datatable {
    &__search {
      width: 100%;
      text-align: right;

      &__box {
        margin-left: 10px;
      }
    }

    table {
      width: 100% !important;
    }
  }

  ul.pagination {
    margin: 10px 11px 10px 0;
  }
}
